<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hỏi nhanh</title>
</head>
<body>
    <h1>Hãy hỏi tôi một câu hỏi đúng/sai hoặc có/không</h1>
    <form action="addquestion" method="POST">
        <textarea name="question" id="" cols="30" rows="10"></textarea>
        <span>Còn<span id="remain">200</span>/200 kí tự</span>
        <button type="submit">Submit</button>
    </form>

    <script src="/public/ask.js"></script>
</body>
</html>